<br>
<br>

<div class="jumbotron">
  <h1 class="display-4"> Wikistreet</h1>
  <p class="lead"> La única página que necesitas para divertirte</p>
  <hr class="my-4">
  <p> Datos, secretos y lugares para conocer la ciudad.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Ver pines</a>
  </div>

<div class="card" style="width: 80rem;">
  <div class="card-body">
    <h5 class="card-title"> La mejor picá para sacarse selfies</h5>
    <h6 class="card-subtitle mb-2 text-muted">Súper dato secreto</h6>
    <p class="card-text"> Sed nisi dui, volutpat vitae fringilla ut, feugiat a dui. Proin at neque convallis, hendrerit eros sed, blandit nisi. Sed sed volutpat mauris, quis rhoncus lectus. Cras dapibus enim sit amet ultrices pharetra. In vel sodales quam. Sed at mi in justo cursus suscipit ac ac sem. Nunc quis orci ex. Duis a justo leo.</p>
    <a href="#" class="card-link">Llévame ahí</a>
    <a href="#" class="card-link">Llávame a otro lado</a>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

