// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p{
    color: navy;
    font-size: 18px;
    font-family: helvetica;
}

h1, h2, h3, h4 {

    font-family: helvetica;
    color: grey;
}

body{
    background-image:url("Minimalist-Wallpaper-05-1620-x-2880.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
div{
    margin:15px;
}